<div class="container">
   <p-tabView>
      <p-tabPanel header="Quatation">
         <app-procurement-quatations></app-procurement-quatations>

      </p-tabPanel>
            <p-tabPanel header="procurement-minutes" headerStyleClass="redText">
         <app-procurement-minutes></app-procurement-minutes>
      </p-tabPanel>
      <p-tabPanel header="procurement-minutes-all" headerStyleClass="redText">
         <app-procurement-minutes-all></app-procurement-minutes-all>
      </p-tabPanel>
      <p-tabPanel header="Purchase Authorisation form">
         <app-procurement-purchase-requests></app-procurement-purchase-requests>
      </p-tabPanel>
      <p-tabPanel header=" Purchase Authorisation" headerStyleClass="redText">
         <app-purchase-authorisation-form></app-purchase-authorisation-form>
      </p-tabPanel>

   </p-tabView>




</div>